%h1 Sign Up 
%p
  %form{:action => "", :method => "post"}
    %fieldset
      %ol
        %li
          %label{:for => "username"} Username:
          %input{:type => "text", :name => "username", :class => "text"}
        %li
          %label{:for => "password"} Password:
          %input{:type => "text", :name => "password", :class => "text"}
        %li
          %label{:for => "mail"} Email:
          %input{:type => "text", :name => "mail", :class => "text"}
    %input{:type => "submit", :value => "Send", :class => "button"}

